.env
test_duckdb.py
test_duckdb_unnest.py
hybrid_method/data/real_estate.duckdb
hybrid_method/data/silver/
.gitignore
pipeline.md
debug_history.md
databricks_upload_guide.md
.DS_Store               # File này được macOS dùng để lưu trữ các tuỳ chỉnh hiển thị (preferences) riêng của thư mục chứa nó
**/.DS_Store