SUGGESTION_API="your_api_link_here"
PROJECT_INSIGHTS_API="your_api_link_here"
SIMILAR_PROPERTIES_API="your_api_link_here"
SEARCH_API_URL="your_api_link_here"
QUICK_FILTER_API="your_api_link_here"
HTML_SCRAPE_URL_TEMPLATE="your_html_url_template_here"

# File paths for Databricks Volume
BRONZE_DATA_DIR="/Volumes/workspace/default/real_estate_data/bronze"
SILVER_DATA_DIR="/Volumes/workspace/default/real_estate_data/silver"
GOLD_DATA_DIR="/Volumes/workspace/default/real_estate_data/gold"
LOG_DIR="/Volumes/workspace/default/real_estate_data/logs"
